<div id= "post-{{id}}" class = "card">
    <img class="card-image" src = "{{thumbnil}}" alt="Missing Image">
    <div class = "card-body">
        <p class="card-title">{{title}}</p>
        <p class = "card-text"> {{description}}</p>
        <a class = "card-post" href="/post/{{id}}">  ⇒ </a>
    </div>
</div>